@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap'); 

body {
  margin: 0;
  height: 100vh;
  min-width: 345px;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
.App {
  color: #70ca70;
  display: flex;
  flex-direction: column;
  gap: .5em 0px;
  font-size: 1.75em;
  padding-inline: 1em;
}
.modal-container {
  min-width: 335px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #00000065;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal {
  box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  width: 80%;
  max-height: 23em;
  min-height: 20em;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #ffffff80; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 3em 0 1em 1em;
}
.modal .exit {
  width: 2.5em;
  height: 2.5em;
  background: #e72a39;
  color: #eee;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .exit:active {
  filter: brightness(2.6)
}
.modal .cartItems-wrapper {
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 1.2em;
}
::-webkit-scrollbar {
  width: 10px;
  margin-right: 2em;
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 3em;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.modal .message {
  text-align: center;
}
.modal .total-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.modal .total {
  width: calc(100% - 5em);
  height: 2em;
  padding: 5px 2em;
  background-color: white;
  color: #70ca70;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #63636333 0px 2px 8px 0px;
  border-radius: 10px;
  font-family: DM Sans;
  transition-duration: .3s;
 }
.modal .total:hover {
  box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
}
.modal-btn {
  background: #333;
  color: white;
  border-radius: 5px;
  padding: 12px 2em;
  font-size: .9em;
  text-transform: capitalize;
  border: none;
  transition-duration: .15s;
  font-family: DM Sans;
}
.modal-btn:active {
  transform: scale(.9);
  background: #70ca70;
}
.modal .return {
  margin-bottom: 2em;
}
.modal .clear-btn {
  width: calc(100% - 1.3em);
  margin-right: auto;
  font-size: 1em;
}
.shopping-bag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-block: .8em;
}
.shopping-bag > p {
  position: relative;
  margin: 0;
}
.shopping-bag > img {
  margin-top: .65em;
  width: 0.83em;
  height: 0.95em;
}
.bag-icon {
  transition-duration: .3s;
}
.bag-icon:hover {
  color: #70ca70 !important;
}
.reso {
  position: absolute;
  top: .5em;
  right: 1em;
}
strong:first-child {
  font-weight: unset;
  font-size: .5em;
  position: absolute;
  top: .8em;
}
strong:last-child {
  margin-left: .65em;
  font-weight: unset;
}
.cart-count {
  position: absolute;
  right: -0.9em;
  top: .6em;
  background: #f15959;
  color: white;
  font-size: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 41em;
  line-height: 1.5;
  padding: 0.1em .65em 0.2em;
  pointer-events: none;
}
p {
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'DM Sans';
  margin-top: 0;
}
button {
  cursor: pointer;
}
.shop-items-container {
  display: flex;
  gap: 5em 1.5em;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
  margin-bottom: 6em;
}
.happy-food {
  transition-duration: .3s;
}
@media only screen and (max-width: 1280px) {
  .App {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 850px) {
  .App {
    font-size: 1em;
  } 
  .shopping-bag > img {
    width: 13px;
    height: 16px;
  }
   strong:last-child {
      margin-left: .62em;
  }
  .modal {
    font-size: .85em;
    margin-bottom: 3.5em;
  }
}
@media only screen and (max-width: 430px) {
  .modal {
    width: 90%;
  }
}
@media only screen and (max-height: 400px) {
  .modal {
    padding-top: 4em;
    font-size: 0.8em;
    margin-bottom: 4em;
    min-height: 12em;
    max-height: 14em;
  }
}